.item-component {
    padding: 2px;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    user-select: none;
    cursor:pointer;
    height: 50px;

    .container {
        margin: 0px;
    }

    .topic {
        border-width: 2px;
        border-color: black;
        margin-left :5px;
        margin-bottom: 0px;
        font-family: Arial, Helvetica, sans-serif;
    }
}