@import '../fonts/normal';

.topic-component {
    font-family: Normal;

    .item {
        font-size: 20px;
        color: black;
    }

    .date {
        font-size: 15px;
        color: slategray;
    }
}