.edit-layout {
    &.layout {
        position: fixed;
        left: 10px;
        top: 10px;
        width: 550px;
        height: 550px;
        z-index: 1;

        &.show {
            display: block;
        }

        &.hide {
            display: none;
        }
    }

    .container {
        width: 520px;
        height: 540px;
        border-radius: 5px;
        background: lightgrey;
        text-align: center;
        margin: auto;
    }

    .banner {
        padding-top: 10px;
        height: 10px;
        width: 100%;
        font-size: 35px;
        margin-top: 10px;

        -webkit-user-select: none; /* Chrome/Safari */        
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+ */
        user-select: none;
        cursor: default;
    }

    .title {
        border-width: 0px;
        border-radius: 4px;
        height: 35px;
        width: 95%;
        font-size: 30px;
        background: no-repeat;
        text-decoration: underline;
        cursor: pointer;
    }

    .summary {
        border-width: 1px;
        border-radius: 4px;
        border-color: lightgray;
        height: 58%;
        padding: 8px;
        width: 94%;
        font-size: 16px;
        margin-top: 5px;
        background: whitesmoke;
        resize: none;
        cursor: pointer;
    }

    .closeButton {
        border-width: 0px;
        border-radius: 20px;
        float: right;
        margin: 5px;
        height: 20px;
        width: 20px;
        font-weight: 100;
        background: white;
        text-align: center;
        cursor: pointer;
    }

    .actionButton {
        border-width: 0px;
        border-radius: 6px;
        margin: 5px;
        background: white;
        text-align: center;
        font-size: 13px;
        cursor:pointer;
    }

    .date {
        font-size: 16px;
        color: purple;
        margin: 2px;

        -webkit-user-select: none; /* Chrome/Safari */        
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+ */
        user-select: none;
        cursor:default;
    }

    .taskNumber {
        -webkit-user-select: none; /* Chrome/Safari */        
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+ */
        user-select: none;
        cursor:default;
    }
}