.edit-layout {
    &.layout {
        position: fixed;
        left: 10px;
        top: 10px;
        width: 550px;
        height: 550px;
        z-index: 1;

        &.show {
            display: block;
        }

        &.hide {
            display: none;
        }
    }

    .container {
        width: 520px;
        height: 510px;
        border-radius: 5px;
        background: lightgrey;
        text-align: center;
        margin: auto;
    }

    .banner {
        height: 10px;
        width: 100%;
        font-size: 35px;
        margin-top: 10px;
    }

    .title {
        border-width: 0px;
        border-radius: 4px;
        height: 35px;
        width: 95%;
        font-size: 30px;
        background: no-repeat;
        text-decoration: underline;
    }

    .summary {
        border-width: 1px;
        border-radius: 4px;
        border-color: lightgray;
        height: 60%;
        padding: 8px;
        width: 94%;
        font-size: 16px;
        margin-top: 5px;
        background: whitesmoke;
        resize: none;
    }

    .closeButton {
        border-width: 0px;
        border-radius: 20px;
        float: right;
        margin: 5px;
        height: 20px;
        width: 20px;
        background: white;
        text-align: center;
    }

    .actionButton {
        border-width: 0px;
        border-radius: 6px;
        margin: 5px;
        background: white;
        text-align: center;
        font-size: 13px;
    }

    .date {
        font-size: 15px;
    }
}