.home-layout {
    &.layout {
        display: block;
        width: 550px;
        background: skyblue;
        border-radius: 5px;
        font-size: 25px;
        position: fixed;
        left: 10px;
        top: 10px;
        z-index: 0;
    }

    
    .layout {
        
    }
    

    .title {
        font-size: 50px;
    }

    .addButton {
        float: right;
        margin: 10px;
    }
}